*{
  padding: 0px;
  margin:0px;
}
.navbar-form{
  float:left;
  padding-left: 0px;
  padding: 0px 0px !important;
}
.pur-search{
  padding-left: 0px;
}
#menubutton{
  float:left;
  margin-top: 10px;
  margin-right:10px;
}
#menubutton:last-child{
  margin-right:0px;
}
table .btn{
  padding:4px 6px;
  
}
.form-small{
	width:30% !important;
}
.form-group{
  margin-bottom: 0px;
  
}
#addform{
  background-color:#f2f5f9;
}